<%- contentFor("content") %> 
    <h1>All Users</h1>
    <hr>
    <%- include('./includes/errorMessage.ejs')%>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <% if (users) { %>
                    <p class="fs-5"><%- users.length %> Users found. </p>
                <% } else {%> 
                    <p class="fs-5 text-danger">No users created.</p>     
                <% } %> 
            </div>
            <div class="col-12 col-md-6">
                <form action="/users/search" method="POST">
                    <div class="row">
                        
                            <div class="col-6">
                                <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">

                            </div>
                            <div class="col-6">
                                <button class="btn btn-outline-success" type="submit">Search</button> 
                            </div>
                    
                    </div>
                </form>
            </div>
        </div>
    </div>
      
    <% users.sort(function(a, b){return a - b}).forEach(user => { %>
        <div class="card mb-2">
            <% if (user.role.permissions.menu_permissions.length === 3 && user.role.permissions.user_permissions.length === 3) { %>
                <div class="card-header fw-bold bg-warning">
                    <%= user.role.name %>
                </div>
            <% } else { %>
                <div class="card-header fw-bold">
                    <%= user.role.name %>
                </div>
            <% } %>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-12 col-md-6">
                            <a href="<%- user.url %>" class="card-title "><%= user.username %></a>
                        </div>
                        <div class="col-12 col-md-6 ms-auto">
                            <a href="<%- user.url %>/edit" class="btn btn-primary ">Edit</a>
                            <a href="<%- user.url %>/delete" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>  
    <% }) %>